@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@keyframes fly-to-cart {
  0% {
    top: var(--start-top);
    left: var(--start-left);
    width: var(--start-width);
    height: var(--start-height);
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  100% {
    top: var(--end-top);
    left: var(--end-left);
    width: 0px;
    height: 0px;
    opacity: 0;
    transform: scale(0.1);
  }
}

.fly-to-cart-animation {
  top: var(--start-top);
  left: var(--start-left);
  width: var(--start-width);
  height: var(--start-height);
  animation: fly-to-cart 0.8s ease-in-out forwards;
}